.SchedulePage{
    background-color: #212121;
    min-height: 100vh;
}

.SchedulePage2{
    display: flex;
}

.ScheduleContent{
    width: 65%;
    border-right: 1px solid #EFE7E7;

}


@media screen and (max-width: 620px) {
    .ScheduleContent {
        width: 100%;
        border-right:none;
    }
}

.ScheduleStatistics{
    width: 35%;
    border-right: 1px solid #EFE7E7;
}

@media screen and (max-width: 620px) {
    .ScheduleStatistics{
        width: 100%;
        border-right: none;
    }
}

.SchedulePage2 {
    display: flex;
    flex-direction: row; /* 기본은 가로 정렬 */
    gap: 20px; /* 필요에 따른 여백 */
}

@media screen and (max-width: 620px) {
    .SchedulePage2 {
        flex-direction: column; /* 화면이 작아지면 세로 정렬 */
    }
}
