spring.application.name=backend
server.port=8080

# MySQL DB ??

spring.datasource.url=jdbc:mysql://database-2.cfiaiw42ejy2.ap-southeast-2.rds.amazonaws.com:3306/myfcseoul?sslMode=DISABLED&allowPublicKeyRetrieval=true&serverTimezone=UTC
spring.datasource.username=admin
spring.datasource.password=dlsdndb123
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JPA ??
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
#??? ???? ?????
# CamelCase ??: CheerMessage, Gallery, MyData, Schedule, User ? ???????
#
# snake_case ??: cheer_message, gallery, my_data, schedule, user ??? ???? ?? ??

# Kakao OAuth2 ?? ??
spring.security.oauth2.client.registration.kakao.client-id=723329b5c5f7d280f5aa7febc3b3b76f
#spring.security.oauth2.client.registration.kakao.client-secret=YOUR_KAKAO_CLIENT_SECRET ?? x
spring.security.oauth2.client.registration.kakao.client-authentication-method=none
spring.security.oauth2.client.registration.kakao.authorization-grant-type=authorization_code
spring.security.oauth2.client.registration.kakao.redirect-uri={baseUrl}/login/oauth2/code/kakao
spring.security.oauth2.client.registration.kakao.scope=profile_nickname

spring.security.oauth2.client.provider.kakao.authorization-uri=https://kauth.kakao.com/oauth/authorize
spring.security.oauth2.client.provider.kakao.token-uri=https://kauth.kakao.com/oauth/token
spring.security.oauth2.client.provider.kakao.user-info-uri=https://kapi.kakao.com/v2/user/me
spring.security.oauth2.client.provider.kakao.user-name-attribute=id
spring.jackson.serialization.indent_output=true
